<br>
<div class="container p-5">

    <div>
      <div class="text-center mb-5">
        <h4 class="section-title mb-3">Forgot Password</h4>
        <div *ngIf="successForgotPassword" class="alert alert-success">
          <span>We have sent you an email with the reset password link. Please check your email.</span>
        </div>
         <p class="help-text w-75 m-auto">Please enter your account's email address. We will send you a reset password link to your email address.</p>
      </div>
      <div class="form-container m-auto">
          <form [formGroup]="form.form" (ngSubmit)="onSubmit(form.form)">
              <span [hidden]="!this.hasError" class="text-danger"><p>{{ form.err }}</p></span>
              <div class="form-group">
                <label>Email</label>
                <input class="form-control" formControlName="email" (input)="inputChange($event.target.value)" type="text">
                <span [hidden]="!form.hasError('email', 'required')" class="text-danger"><p><small>This field is required.</small></p></span>
                <span [hidden]="!form.hasError('email', 'email')" class="text-danger"><p><small>Invalid email format.</small></p></span>
              </div>

              <div class="form-group text-center">
                <button [disabled]="this.sending" type="submit" class="btn btn-primary">Send Link</button>
              </div>
              <br/>
              <div class="form-group text-center">
              <a (click)='redirectLogin()'>Back to Home</a>
            </div>
          </form>
      </div>
  </div>