.dropdown-menu {
    background: $white;
    border: none;
    box-shadow: 0 2px 16px 0 rgba(153, 155, 168, 0.12);

    a {
        font-size: torem(14);
        padding-top: torem(6);
        padding-bottom: torem(6);
        color: $text--blue-grey;

        &:hover {
            color: $text--primary;
        }
    }
}

.dropdown-toggle {
    &:after {
        display: none !important;
    }
}

.form-control {
    height: 48px;
    margin-bottom: torem(10);
    border-radius: 4px;
    border: solid 1px #e8ecef;
    background-color: #ffffff;
    font-size: $paragraph;

    &.input-sm {
        height: 38px;
    }
}

.form-check {
    label{
        font-weight: 500;
        color: $text--primary
    }
    input[type="checkbox"]:checked ~ label{
        color: $brand--primary;
    }
    &.with-popup {
        position: relative;

        .checkbox-popup {
            background: $white;
            position: absolute;
            padding:2rem 1rem 1rem;
            -webkit-box-shadow: 2px 7px 21px -5px rgba(0, 0, 0, 0.19);
            -moz-box-shadow: 2px 7px 21px -5px rgba(0, 0, 0, 0.19);
            box-shadow: 2px 7px 21px -5px rgba(0, 0, 0, 0.19);
            width: 250px;
            border-radius: 10px;
            text-align: center;
            top: -180px;
            left: -30px;
            max-height: 250px;
            display: none;

            &:after {
                content: "";
                position: absolute;
                width: 15px;
                height: 15px;
                background: $white;
                transform: rotate(45deg);
                bottom: -8px;
                left: 30px;
            }

            &.open {
                display: block;
            }

            &--close {
                position: absolute;
                right: 20px;
                top: 10px;
                font-size: 12px;
                color: $text--secondary;
            }
        }

    }
}