<br>
<div class="container">
    <div>
      <div class="text-center mb-5">
        <h4 class="section-title mb-3">Reset Password</h4>
        <div *ngIf="this.successResetPassword" class="alert alert-success">
          <span>You have successfully reset your password. Please try to <a (click)='redirectLogin()'>login</a>.</span>
        </div>
        <p class="help-text w-75 m-auto">Enter the new password on the fields below.</p>
      </div>
      <div class="form-container m-auto">
          <form [formGroup]="form.form" (ngSubmit)="onSubmit(form.form)">
            <span [hidden]="!hasError" class="text-danger"><p>{{ form.err }}</p></span>
            <div class="form-group">
              <label>New Password</label>
              <input type="password" formControlName="new_password" (input)="inputChange($event.target.value)" class="form-control">
              <span [hidden]="!form.hasError('new_password', 'required')" class="text-danger"><p><small>This field is required.</small></p></span>
            </div>
            <div class="form-group">
              <label>Confirm Password</label>
              <input type="password" formControlName="confirm_new_password" (input)="inputChange($event.target.value)" class="form-control">
              <span [hidden]="!form.hasError('confirm_new_password', 'required')" class="text-danger"><p><small>This field is required.</small></p></span>
            </div>
            <div class="form-group text-center">
              <button type="submit" class="btn btn-primary form-control" [disabled]='this.disable'>Submit</button>
            </div>
            <br/>
          </form>
          <a (click)='redirectLogin()'>Back to Home</a>
      </div>
    </div>
  </div>