<div class="dashboard--panel">

    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Search" aria-label="Search" aria-describedby="basic-addon2">
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button"><i class="la la-search"></i></button>
        </div>
        <div class="input-group-append" ngbDropdown>
            <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle><i class="la la-filter"></i> Filter</button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1" >
                <a class="dropdown-item" href="." ngbDropdownItem (click)="filterClick($event, 'all')">All</a>
                <a class="dropdown-item" href="#" ngbDropdownItem (click)="filterClick($event, 'available')">Available</a>
                <a class="dropdown-item" href="#" ngbDropdownItem (click)="filterClick($event, 'checked out')">Checked Out</a>
                <a class="dropdown-item" href="#" ngbDropdownItem (click)="filterClick($event, 'digital copy')">Digital Copy</a>
            </div>
        </div>
    </div>

    <div class="mt-5">
        <div class="row">
            <div class="col-sm-3" *ngFor="let book of books_list" (click)="rowClicked(book)">
                <div class="card mb-5">
                    <div class="card-body">
                        <img src="{% static 'images/no-cover-img.jpg' %}" class="card-img-top" alt="...">
                        <h5 class="card-title mb-0">
                            {{ book.title | titlecase }}
                        
                            <span class="badge badge-pill" 
                            [ngClass]="{'badge-danger': book.status==='checked out', 
                            'badge-success': book.status==='available' || book.status==='digital copy'}" style="color: white;">
                                {{ book.status | titlecase  }}
                            </span>
                        </h5>
                        <small class="text-muted mt-0">by: {{ book.author | titlecase }} </small>

                        
                        <!-- <p class="card-text">
                            <b>Book Description: </b>Lorem ipsum dolor sit amet, consectetur adipiscing elit. <br>
                            <b>Location: </b>{{ book.location | titlecase }}
                        </p>
        
                        <p class="card-text"><small class="text-muted">Property of: {{ book.owner.full_name | titlecase }}</small></p> -->
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>