{% load static %}

<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Trello Clone</title>
  <base href="/">
</head>
<body>
  <app-root></app-root>

  <script type="text/javascript" src="{% static 'fe/dist/fe/runtime.js' %}"></script>
  <script type="text/javascript" src="{% static 'fe/dist/fe/polyfills.js' %}"></script>
  <script type="text/javascript" src="{% static 'fe/dist/fe/styles.js' %}"></script>
  <script type="text/javascript" src="{% static 'fe/dist/fe/vendor.js' %}"></script>
  <script type="text/javascript" src="{% static 'fe/dist/fe/main.js' %}"></script>
</body>
</html>