<div class="dashboard--panel">
  <div class="container p-5">

    <form [formGroup]="form.form" (ngSubmit)="onSubmit(form.form)">
        <div>
            <label>Title:</label>
            <input class="form-control" formControlName="title" type="text">
            <!-- <span [hidden]="form.valid('title')" class="text-danger"><p><small>First name is required.</small></p></span> -->
        </div>

        <div>
            <label>Author:</label>
            <input class="form-control" formControlName="author" type="text">
            <!-- <span [hidden]="form.valid('last_name')" class="text-danger"><p><small>Last name is required.</small></p></span> -->
        </div>

        <div>
          <label>Location:</label>
          <input class="form-control" formControlName="location" type="text">
          <!-- <span [hidden]="form.valid('last_name')" class="text-danger"><p><small>Last name is required.</small></p></span> -->
        </div>

        <div>
          <label>Status:</label>
          <select class="form-control" formControlName="status" name="status" id="status">
            <option value="available" [selected]="true"><p>Available</p></option>
            <option value="digital copy"><p>Digital Copy</p></option>
          </select>
          <!-- <span [hidden]="form.valid('last_name')" class="text-danger"><p><small>Last name is required.</small></p></span> -->
        </div>

        <br>
        <button class="btn btn-primary" type="submit" [disabled]="this.disable">Save</button>
    </form>
  </div>
</div>