<div class="dashboard--panel">
    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="basic-addon2">
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button"><i class="la la-search"></i></button>
        </div>
    </div>
    <div>
        <p>filter:</p>
        <div ngbDropdown>
            <button class="btn btn-outline-primary float-right" id="dropdownBasic1" ngbDropdownToggle>Toggle dropdown</button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1" >
                <a class="dropdown-item" href="." ngbDropdownItem (click)="filterClick($event, 'all')">All</a>
                <a class="dropdown-item" href="#" ngbDropdownItem (click)="filterClick($event, 'available')">Available</a>
                <a class="dropdown-item" href="#" ngbDropdownItem (click)="filterClick($event, 'checked out')">Checked Out</a>
                <a class="dropdown-item" href="#" ngbDropdownItem (click)="filterClick($event, 'digital copy')">Digital Copy</a>
            </div>
        </div><br>
    </div>
    <div class="mt-5">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Title</th>
                    <th scope="col">Author</th>
                    <th scope="col">Location</th>
                    <th scope="col">Status</th>
                    <th scope="col">Owner</th>
                </tr>
            </thead>
                <tbody>
                    <tr *ngFor="let book of books_list" (click)="rowClicked(book)">
                        <td>{{ book.title | titlecase }}</td>
                        <td>{{ book.author | titlecase }}</td>
                        <td>{{ book.location | titlecase }}</td>
                        <td [ngClass]="{'text-danger': book.status==='checked out', 
                                        'text-success': book.status==='available' || book.status==='digital copy'}">{{ book.status | titlecase  }}</td>
                        <td>{{ book.owner.full_name | titlecase }}</td>
                    </tr>
                </tbody>
            </table>
    </div>
</div>