<div class="dashboard--panel">
    <form class="form-group" [formGroup]="form.form" (ngSubmit)="onSubmit(form.form)">
        <div class="input-group mb-3">
            <input type="text" formControlName="search_text" class="form-control" placeholder="Search Title" aria-label="Search" aria-describedby="basic-addon2">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="submit"><i class="la la-search"></i></button>
            </div>
            <div class="input-group-append" ngbDropdown>
                <button class="btn btn-primary" id="dropdownBasic1" ngbDropdownToggle><i class="la la-filter"></i> Filter</button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1" >
                    <a class="dropdown-item" href="." ngbDropdownItem (click)="filterClick($event, 'all')">All</a>
                    <a class="dropdown-item" href="#" ngbDropdownItem (click)="filterClick($event, 'available')">Available</a>
                    <a class="dropdown-item" href="#" ngbDropdownItem (click)="filterClick($event, 'checked out')">Checked Out</a>
                    <a class="dropdown-item" href="#" ngbDropdownItem (click)="filterClick($event, 'digital copy')">Digital Copy</a>
                </div>
            </div>
        </div>
    </form>

    <div class="mt-4">
        <ul class="responsive-table pl-0">
          <li class="table-header">
            <div class="col col-1 font-weight-bold">Book</div>
            <div class="col col-2 font-weight-bold">Location</div>
            <div class="col col-3 font-weight-bold">Status</div>
            <div class="col col-4 font-weight-bold">Owner</div>
            <div class="col col-5 font-weight-bold">Checkout Date</div>
            <div class="col col-6 font-weight-bold">Return Date</div>
          </li>
          <li class="table-row" *ngFor="let item of books_list" (click)="rowClicked(item.book)">
            <div class="col col-1">
                <p class="mb-0 font-weight-bold">{{ item.book.title | titlecase }} </p>
                <small class="text-muted">by: {{ item.book.author | titlecase }}</small>
            </div>
            <div class="col col-2"><p class="mb-0 mt-3">{{ item.book.location | titlecase }}</p></div>
            <div class="col col-3">
                <p class="badge badge-pill mb-0 mt-3 badge-info"  *ngIf="item.returned_date !== null"style="color: white;">
                    Returned
                </p>

                <p class="badge badge-pill mb-0 mt-3 badge-danger"  *ngIf="item.returned_date === null"style="color: white;">
                    Checked Out
                </p>
            </div>
            <div class="col col-4">
                <p class="mb-0 mt-3">{{ item.book.owner.full_name | titlecase }}</p>
            </div>
            <div class="col col-5">
                <p class="mb-0 mt-3">{{ item.checked_out_date | date:"medium" }}</p>
            </div>
            <div class="col col-6">
                <button type="button" 
                        class="btn btn-secondary btn-sm"  
                        [hidden]="item.returned_date !== null" 
                        (click)="returnBook(item)">Return Book</button> 
                <p class="mb-0 mt-3" [hidden]="item.returned_date === null">{{ item.returned_date | date:"medium" }}</p>
            </div>
          </li>
          
        </ul>
    </div>
</div>